/* TESTING */
body {
	padding: 10%;
	background-image: radial-gradient(circle, #0c643a, #006d6c, #0072ae, #006ade, #7c43d6);
}

/* MAIN */
@font-face {
	font-family: 'Minecraft Rus';
	src: url('static/font/Minecraft.eot');
	src: local('Minecraft Rus Regular'), local('Minecraft'),
		url('static/font/Minecraft.eot?#iefix') format('embedded-opentype'),
		url('static/font/Minecraft.woff2') format('woff2'),
		url('static/font/Minecraft.woff') format('woff'),
		url('static/font/Minecraft.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow: hidden;
}

.minetip {
	font-family: "Minecraft Rus";
}


span.minetip img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

span.minetip div {
	padding: 0.5em;
	border: 6px solid transparent;
	border-radius: 12px;
	border-image: url(static/img/tooltip-border.png) 30% repeat;
	color: #FFF;
	background-color: #1E0F1E;
	position: absolute;
	z-index: 999;
	display: none;
	opacity: .95;
	pointer-events: none;
}