/* .minetip-text {
	border-bottom: 1px dotted #0077AA;
	cursor: help;
} */

body {
	padding: 10%;
}

div.minetip {
	border: 1px solid #fda11f;
	color: #162699;
	background-color: #16bbb9;
}


.minetip::before {

}
.minetip::after {

}

.minetip img {

}



/* .minetip-text::after {
	border: 1px solid #AAA;
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
	margin-left: -21px;
	padding: 0.5em 0.8em;
	font-size: smaller;
	min-width: 20px;
	max-width: 300px;
	word-wrap: break-word;
	color: #FFF;
	content: attr(data-minetip-text);
	opacity: 0;
	position: absolute;
	visibility: hidden;
	transition: all 0.05s ease-in-out;
	margin-top: -29px;
	font-size: 0.875em;
	z-index: 9999
} */
